[data-md-color-scheme="slate"] {

    --md-hue: 120;

    --md-default-fg-color:             hsla(var(--md-hue), 100%, 100%, 1);
    --md-default-fg-color--light:      hsla(var(--md-hue), 100%, 100%, 0.7);
    --md-default-fg-color--lighter:    hsla(var(--md-hue), 100%, 100%, 0.5);
    --md-default-fg-color--lightest:   hsla(var(--md-hue), 100%, 100%, 0.3);
    --md-default-bg-color:             hsla(var(--md-hue), 100%, 0%, 1);
    --md-default-bg-color--light:      hsla(var(--md-hue), 100%, 0%, 0.7);
    --md-default-bg-color--lighter:    hsla(var(--md-hue), 100%, 0%, 0.5);
    --md-default-bg-color--lightest:   hsla(var(--md-hue), 100%, 0%, 0.3);

    --md-code-fg-color:                hsla(var(--md-hue), 25%, 95%, 1);
    --md-code-bg-color:                hsla(var(--md-hue), 25%, 0%, 1);

    --md-code-hl-number-color:         hsla(6, 100%, 50%, 1);
    --md-code-hl-special-color:        hsla(340, 100%, 50%, 1);
    --md-code-hl-function-color:       hsla(291, 100%, 50%, 1);
    --md-code-hl-constant-color:       hsla(250, 100%, 50%, 1);
    --md-code-hl-keyword-color:        hsla(219, 100%, 50%, 1);
    --md-code-hl-string-color:         hsla(150, 100%, 50%, 1);

    --md-typeset-color:                var(--md-code-hl-number-color);

    --md-typeset-kbd-color:            hsla(var(--md-hue), 25%, 80%, 0.3);
    --md-typeset-kbd-accent-color:     hsla(var(--md-hue), 25%, 80%, 0.5);
    --md-typeset-kbd-border-color:     hsla(var(--md-hue), 25%, 20%, 1);

    --md-typeset-table-color:          hsla(var(--md-hue), 75%, 80%, 0.3);
    --md-typeset-table-color--light:   hsla(var(--md-hue), 75%, 80%, 0.1);

    --md-footer-bg-color:              hsla(var(--md-hue), 25%, 0%, 1);
    --md-footer-bg-color--dark:        hsla(var(--md-hue), 25%, 0%, 1);

}

